/* Adding global styles, and setting project reset, fonts, variables */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #f8f9fa;
    --clr-secondary: #b900224b;
    --clr-ternary: #0059D4;
    --clr-shade-1: #FFFFFF;
    --clr-shade-2: #ced4da;
    
    --fs-1: 1rem;
    --fs-2: 1.618rem;
    --fs-3: 2.618rem;
    --fs-4: 4.236rem;
    --fs-5: 6.854rem;
    --fs-small: 0.618rem;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
}

@font-face {
    font-family: 'abelregular';
    src: url('./fonts/abel-regular-webfont.woff2') format('woff2'),
         url('./fonts/abel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nippobold';
    src: url('./fonts/nippo-bold-webfont.woff2') format('woff2'),
         url('./fonts/nippo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nippomedium';
    src: url('./fonts/nippo-medium-webfont.woff2') format('woff2'),
         url('./fonts/nippo-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nipporegular';
    src: url('./fonts/nippo-regular-webfont.woff2') format('woff2'),
         url('./fonts/nippo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* general container styles */

.page-container {
    display: flex;
}

/* left section styles */
.image-section {
    background-image: url(./assets/patrik-storm-alstra-pictures-LLLwP0OrBDE.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 33.33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-shade-2);
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--fs-2);
    height: 20vh;
}

.logo-section > img {
    width: var(--fs-5);
    height: auto;
}

.logo-section > p {
    font-family: 'abelregular', Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--fs-5);
    font-weight: 900;
    letter-spacing: var(--fs-small);
}

.credits {
    font-family: 'nipporegular', Georgia, 'Times New Roman', Times, serif;
    color: var(--clr-shade-2);
    font-size: var(--fs-small);
}

.credits > a {
    color: var(--clr-shade-2);
}